body, html {
  margin: 0;
  padding: 0.25em;

  background-color: #f7f7f7;
  color: #000000;

  font-size: 11pt;
  text-align: center;

  overflow-x: hidden;
  overflow-y: hidden;
}

img.resource {
    display: none;
}

div#page_wrap {
  width: 1152px;

  margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
}

.main {
    padding: 0em;
    padding-bottom: 1em;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

h1 {
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 1pt;

  text-align: center;
}

#birdseye {
    padding-left: 15px;
}
